loguru==0.7.2
whisper-timestamped==1.14.1
auditok==0.2.0
tritonclient==2.42.0
gevent==23.9.1
geventhttpclient==2.0.11
grpcio==1.62.0
pytorch-lightning==2.2.0.post0  
torchaudio==2.2.0
einops==0.7.0
pyannote.audio==3.1.0